---
import type { ResumeData } from "@/data/resume-data";

type Props = {
    data: ResumeData;
};

const { data } = Astro.props as Props;
---

<section class="contact">
    <div class="location">
        <i class="fas fa-map"></i>
        <span>{data.location}</span>
    </div>
    <div class="phone">
        <i class="fas fa-phone"></i>
        <a href={`tel:${data.phone}`}>
            {data.phone}
        </a>
    </div>
    <div class="email">
        <i class="fas fa-envelope"></i>
        <a href={`mailto:${data.email}`}>
            {data.email}
        </a>
    </div>
</section>
