---
import type { ResumeData } from "@/data/data";
import CertificationsList from "./body/aside/certifications/CertificationsList.astro";
import EducationList from "./body/aside/education/EducationList.astro";
import LanguagesList from "./body/aside/languages/LanguagesList.astro";
import LinksList from "./body/aside/links/LinksList.astro";
import ReferencesList from "./body/aside/references/ReferencesList.astro";
import SkillsList from "./body/aside/skills/SkillsList.astro";
import NotableProjectsList from "./body/main/notable-projects/NotableProjectsList.astro";
import ProfessionalSummary from "./body/main/ProfessionalSummary.astro";
import WorkExperienceList from "./body/main/work-experience/WorkExperienceList.astro";

type Props = {
    data: ResumeData;
};

const { data } = Astro.props as Props;
---

<section class="body">
    <main>
        <ProfessionalSummary summary={data.summary} />
        <hr class="full" />
        <WorkExperienceList experience={data.experience} />
        <hr class="full" />
        <NotableProjectsList projects={data.notableProjects} />
    </main>
    <aside>
        <EducationList education={data.education} />
        <hr class="full" />
        <SkillsList skills={data.skills} />
        <hr class="full" />
        <LanguagesList languages={data.languages} />
        <hr class="full" />
        <CertificationsList certifications={data.certifications} />
        <hr class="full" />
        <LinksList links={data.links} />
        <hr class="full" />
        <ReferencesList references={data.references} />
    </aside>
</section>
